[user]
	name = HagaSpa
	email = justicesparrow13@gmail.com
[init]
	defaultBranch = main
[core]
	quotepath = false
	pager = delta
	editor = hx
[i18n]
	commitencoding = utf-8
	logoutputencoding = utf-8
[alias]
	nah = !git reset --hard && git clean -df
[delta]
	side-by-side = true
[includeIf "gitdir:~/workspaces/OLTAInc/"]
	path = ~/.gitconfig-olta
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
